{
  "extends": "../.eslintrc.js",
  "rules": {
    "spaced-comment": ["error", "always", { "markers": ["/"] }]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
