{
  "extends": "../.eslintrc.js",
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
